Repository olkitu/MobileSpectrum: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:jsonvalidation, test:karma, build

.gitlab-ci.yml:

stages:
- test
- build
- staging
- production

variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHORT_SHA

include:
  - template: Dependency-Scanning.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Code-Quality.gitlab-ci.yml

test:jsonvalidation:
  stage: test
  image: node:14.15-buster
  allow_failure: false
  tags:
  - docker
  before_script:
  - npm install -g ajv-cli ajv-formats
  - cd ./src/data
  script:
  - ajv test -s schemas/country.schema -d "countries/*.json" -c ajv-formats --valid --verbose --all-errors
  only:
    changes:
    - src/data/**/*

test:karma:
  stage: test
  image: node:14.15-buster
  allow_failure: false
  tags:
  - docker
  before_script:
  - wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
  - echo "deb http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list
  - DEBIAN_FRONTEND=noninteractive apt-get update && apt-get install google-chrome-stable -y -qq
  script:
  - yarn
  - ./node_modules/@angular/cli/bin/ng test --browsers=ChromeHeadlessCI --no-watch --no-progress
  only:
    changes:
    - src/**/*
    - ./*.json
    - yarn.lock
    - .editorconfig
    - .browserslistrc

code_quality:
  artifacts:
    paths: [gl-code-quality-report.json]

build:
  stage: build
  image: docker:latest
  tags:
  - docker
  services:
    - docker:dind
  before_script:
  - sed -ri "s|\"VERSION\"|\"$CI_COMMIT_SHA\"|" src/environments/environment.prod.ts
  - sed -ri "s|"VERSION_LINK"|"$CI_COMMIT_SHORT_SHA"|g" src/app/app.component.html
  - sed -ri "s|"VERSION"|"$CI_COMMIT_SHA"|" src/app/app.component.html
  script:
  - docker build -t $TAG_COMMIT -t $TAG_LATEST .
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_COMMIT
  - docker push $TAG_LATEST
  only:
    refs:
    - main
    changes:
    - Dockerfile
    - ./*.json
    - yarn.lock
    - .editorconfig
    - .browserslistrc
    - nginx.conf
    - src/**/*

deploy:stage:
  stage: staging
  image: alpine:latest
  tags:
  - docker
  environment:
    name: stage
    url: https://stage.mobilespectrum.org
  before_script:
  - apk add --no-cache curl  
  script:
  - echo "Deploying $CI_COMMIT_SHA to stage"
  - curl -X POST $DEPLOY_STAGE
  only:
    refs:
    - main

deploy:production:
  stage: production
  image: alpine:latest
  tags:
  - docker
  environment:
    name: production
    url: https://mobilespectrum.org
  before_script:
  - apk add --no-cache curl
  script:
  - echo "Deploying $CI_COMMIT_SHA to production"
  - curl -X POST $DEPLOY_PROD
  only:
    refs:
    - main
  when: manual
  allow_failure: false

pages:
  image: node:14.15-alpine
  before_script:
  - npm install -g @compodoc/compodoc
  script:
  - npx compodoc -p tsconfig.json -d public -n "MobileSpectrum Documentation" src
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

Add link to home page
  src/app/home-page/home-page.component.html
Due: test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@ba4f4f0ed95f7e6ef796559a23b678c7a3e7979b 🚀
  components/HomePageComponent.html
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Rename Iseland to Iceland
  src/app/home-page/home-page.component.html
  src/data/countries/iceland.json
Due: test:jsonvalidation, test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@e93301945150e34cf73507ce29af826168607128 🚀
  components/HomePageComponent.html
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@c016a23fe5791a4def0f2dae69051f01499a085a 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Rename Iseland to Iceland
  src/data/countries/iceland.json
Due: test:jsonvalidation, test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@8fd64f90dc838df1965f37e86843c9741f10befe 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@19a0047b62fa47bf0f0162e0066caa85c1f4ae08 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

fix: upgrade rxjs from 6.6.3 to 6.6.7
  package.json
  yarn.lock
Due: test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@232f84da94e41036f06ef4ea8d9cfc3e06a7ea39 🚀
  dependencies.html
  js/search/search_index.js
Due: none

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: build

Deploying to gh-pages from @ olkitu/Mobilespectrum@b872e906141a29efd08f22a7ef58e6abbf4be97e 🚀
  dependencies.html
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@c95a7ecf0537e69b96799b497cac4dde3d57dda7 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Update B40 source link and added n258 regional licenses spectrum
  src/data/countries/finland.json
Due: test:jsonvalidation, test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@6304360567820c02b1bc5398a983fa49eb9395fa 🚀
  dependencies.html
  js/search/search_index.js
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@bdb8455db8f83093b2438d21c2e37135d30e160c 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@dde2f55a4d578247036782e5daef38460cef53c9 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@90a78a535c628144a04ad1a5c4401ee3eeda8d67 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@a613d84a0c59bcb11311c5e240bdf29c51008bdd 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Added UK B28 allocations
  src/data/countries/united_kingdom.json
  src/data/countries/united_kingdom/northern_ireland.json
Due: test:jsonvalidation, test:karma, build

Added 3680-3800MHz UK allocations
  src/data/countries/united_kingdom.json
  src/data/countries/united_kingdom/northern_ireland.json
Due: test:jsonvalidation, test:karma, build

Add UtiltiyConnect 450MHz
  src/data/countries/netherlands.json
Due: test:jsonvalidation, test:karma, build

Define band 72 for 450MHz PAMR
  src/app/spectrum-pages/spectrum-pages.component.ts
Due: test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@b7653bf85242078a65e02469dc524bd9b7967319 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Added sources for latest UK auction
  src/data/countries/united_kingdom.json
  src/data/countries/united_kingdom/northern_ireland.json
Due: test:jsonvalidation, test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@1e0d37441459f7a7345fab449c7ac003d3c89531 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@3a81a2d26b7a986c8b1214b144cdec30f33c7ad5 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Add Docker local dev environment
  Dockerfile
  Dockerfile.dev
  README.md
  docker-compose.yml
  docker-entrypoint.dev.sh
Due: build

Deploying to gh-pages from @ olkitu/Mobilespectrum@da34ae850e65fccd06628a0273e524540bf90146 🚀
  index.html
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Update README
  README.md
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@2f0e5f264bec6fa37a6810df8ffb88b598f332da 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@506731e998cca0032ec28baa50105c0b2e1a3a04 🚀
  components/SpectrumPagesComponent.html
  interfaces/Bands.html
  js/search/search_index.js
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@5f3eb5c8098d2589d0bae3f879d5b5f4c094dd88 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Change gitpod use gitpod own image
  .gitpod.yml
Due: none

Install angular cli with npm instead of yarn
  .gitpod.yml
Due: none
