Repository olkitu/MobileSpectrum: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:jsonvalidation, test:karma, build

.gitlab-ci.yml:

stages:
- test
- build
- staging
- production

variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHORT_SHA

include:
  - template: Dependency-Scanning.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Code-Quality.gitlab-ci.yml

test:jsonvalidation:
  stage: test
  image: node:14.15-buster
  allow_failure: false
  tags:
  - docker
  before_script:
  - npm install -g ajv-cli ajv-formats
  - cd ./src/data
  script:
  - ajv test -s schemas/country.schema -d "countries/*.json" -c ajv-formats --valid --verbose --all-errors
  only:
    changes:
    - src/data/**/*

test:karma:
  stage: test
  image: node:14.15-buster
  allow_failure: false
  tags:
  - docker
  before_script:
  - wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
  - echo "deb http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list
  - DEBIAN_FRONTEND=noninteractive apt-get update && apt-get install google-chrome-stable -y -qq
  script:
  - yarn
  - ./node_modules/@angular/cli/bin/ng test --browsers=ChromeHeadlessCI --no-watch --no-progress
  only:
    changes:
    - src/**/*
    - ./*.json
    - yarn.lock
    - .editorconfig
    - .browserslistrc

code_quality:
  artifacts:
    paths: [gl-code-quality-report.json]

build:
  stage: build
  image: docker:latest
  tags:
  - docker
  services:
    - docker:dind
  before_script:
  - sed -ri "s|\"VERSION\"|\"$CI_COMMIT_SHA\"|" src/environments/environment.prod.ts
  - sed -ri "s|"VERSION_LINK"|"$CI_COMMIT_SHORT_SHA"|g" src/app/app.component.html
  - sed -ri "s|"VERSION"|"$CI_COMMIT_SHA"|" src/app/app.component.html
  script:
  - docker build -t $TAG_COMMIT -t $TAG_LATEST .
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_COMMIT
  - docker push $TAG_LATEST
  only:
    refs:
    - main
    changes:
    - Dockerfile
    - ./*.json
    - yarn.lock
    - .editorconfig
    - .browserslistrc
    - nginx.conf
    - src/**/*

deploy:stage:
  stage: staging
  image: alpine:latest
  tags:
  - docker
  environment:
    name: stage
    url: https://stage.mobilespectrum.org
  before_script:
  - apk add --no-cache curl  
  script:
  - echo "Deploying $CI_COMMIT_SHA to stage"
  - curl -X POST $DEPLOY_STAGE
  only:
    refs:
    - main

deploy:production:
  stage: production
  image: alpine:latest
  tags:
  - docker
  environment:
    name: production
    url: https://mobilespectrum.org
  before_script:
  - apk add --no-cache curl
  script:
  - echo "Deploying $CI_COMMIT_SHA to production"
  - curl -X POST $DEPLOY_PROD
  only:
    refs:
    - main
  when: manual
  allow_failure: false

pages:
  image: node:14.15-alpine
  before_script:
  - npm install -g @compodoc/compodoc
  script:
  - npx compodoc -p tsconfig.json -d public -n "MobileSpectrum Documentation" src
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

Nachosh/mobile spectrum main
  src/app/home-page/home-page.component.html
  src/data/countries/spain.json
Due: test:jsonvalidation, test:karma, build

Add SEO meta tags, update navbar items and footer items
  .gitlab-ci.yml
  src/app/app.component.html
  src/app/app.component.ts
  src/app/home-page/home-page.component.ts
  src/app/not-found-page/not-found-page.component.ts
  src/app/spectrum-pages/spectrum-pages.component.ts
Due: test:karma, build

Fix footer version text
  .gitlab-ci.yml
Due: none

Remove tools menu
  .gitlab-ci.yml
  src/app/app.component.html
Due: test:karma, build

Seo and design updates
  .gitlab-ci.yml
  src/app/app.component.html
Due: test:karma, build

Seo and design updates
  .gitlab-ci.yml
Due: none

Logo, PWA logo and favicon added and design update
  src/app/app.component.css
  src/app/app.component.html
  src/app/home-page/home-page.component.css
  src/app/home-page/home-page.component.html
  src/assets/apple-touch-icon.png
  src/assets/icons/icon-128x128.png
  src/assets/icons/icon-144x144.png
  src/assets/icons/icon-152x152.png
  src/assets/icons/icon-192x192.png
  src/assets/icons/icon-384x384.png
  src/assets/icons/icon-512x512.png
  src/assets/icons/icon-72x72.png
  src/assets/icons/icon-96x96.png
  src/assets/navbar_logo.png
  src/favicon.ico
  src/index.html
  src/manifest.webmanifest
Due: test:karma, build

Fix logo crop
  src/assets/navbar_logo.png
Due: test:karma, build

Fix text typo 6 2 2021
  src/app/home-page/home-page.component.html
  src/app/home-page/home-page.component.ts
  src/app/not-found-page/not-found-page.component.ts
  src/app/spectrum-pages/spectrum-pages.component.ts
  src/index.html
Due: test:karma, build

Update PWA icons
  src/assets/icons/icon-128x128.png
  src/assets/icons/icon-144x144.png
  src/assets/icons/icon-152x152.png
  src/assets/icons/icon-192x192.png
  src/assets/icons/icon-384x384.png
  src/assets/icons/icon-512x512.png
  src/assets/icons/icon-72x72.png
  src/assets/icons/icon-96x96.png
Due: test:karma, build

Updat theme-color and fix meta descriptions
  src/app/home-page/home-page.component.ts
  src/app/not-found-page/not-found-page.component.ts
  src/app/spectrum-pages/spectrum-pages.component.ts
  src/index.html
Due: test:karma, build

Add meta images
  src/index.html
Due: test:karma, build

Remove meta images
  src/index.html
Due: test:karma, build

Fix St. Petersburg title and update regexp
  src/app/home-page/home-page.component.html
  src/app/spectrum-pages/spectrum-pages.component.ts
  src/data/countries/russia/st._petersburg.json
Due: test:jsonvalidation, test:karma, build

Site update 7 2 2021
  CONTRIBUTING.md
  src/app/app.component.html
  src/app/app.component.ts
  src/app/home-page/home-page.component.html
Due: test:karma, build

Add Austria spectrums, Band 75 support
  src/app/home-page/home-page.component.html
  src/app/spectrum-pages/spectrum-pages.component.ts
  src/data/countries/austria.json
Due: test:jsonvalidation, test:karma, build

Austria spectrum
  src/data/countries/austria.json
Due: test:jsonvalidation, test:karma, build

Added Northern Ireland spectrum as a subset of UK Changed 2595-2620MHz from BT to O2 and added source
  src/app/home-page/home-page.component.html
  src/data/countries/united_kingdom/northern_ireland.json
Due: test:jsonvalidation, test:karma, build

Gitlab ci update 9 2 2021
  .gitlab-ci.yml
Due: none

Fix links in CONTRIBUTE.md
  CONTRIBUTING.md
Due: none

Add Ireland spectrums
  src/app/home-page/home-page.component.html
  src/data/countries/ireland.json
Due: test:jsonvalidation, test:karma, build

Singapore spectrum
  src/app/home-page/home-page.component.html
  src/data/countries/singapore.json
Due: test:jsonvalidation, test:karma, build

Singapore spectrum
  src/data/countries/singapore.json
Due: test:jsonvalidation, test:karma, build

Slovenia spectrum
  src/app/home-page/home-page.component.html
  src/data/countries/slovenia.json
Due: test:jsonvalidation, test:karma, build

Add security headers
  server.ts
Due: none

Update Japanese B42
  src/data/countries/japan.json
Due: test:jsonvalidation, test:karma, build

Build docker images using buildkit and use latest image as cache
  .dockerignore
  .gitlab-ci.yml
  Dockerfile
Due: build

Malta spectrums
  src/data/countries/malta.json
Due: test:jsonvalidation, test:karma, build

Add link to Malta page
  src/app/home-page/home-page.component.html
Due: test:karma, build

France spectrums from arcep archive
  src/app/home-page/home-page.component.html
  src/data/countries/france.json
Due: test:jsonvalidation, test:karma, build

Add Github Workflows and remove version from website
  .dockerignore
  .github/workflows/main.yml
  src/app/app.component.html
Due: test:karma, build

Run npm install globally in workflow
  .github/workflows/main.yml
Due: none

Small workflow update
  .github/workflows/main.yml
Due: none

Restore version on footer
  package.json
  src/app/app.component.html
Due: test:karma, build

Short workflow prerender command
  package.json
Due: none

Update workflow prerender command
  package.json
Due: none

Update README
  CONTRIBUTING.md
  README.md
Due: none

Try again sed commit hash to env files
  package.json
Due: none

Change Gitlab icon and link to Github
  src/app/app.component.html
  src/app/app.component.ts
Due: test:karma, build
