Repository olkitu/MobileSpectrum: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:jsonvalidation, test:karma, build

.gitlab-ci.yml:

stages:
- test
- build
- staging
- production

variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHORT_SHA

include:
  - template: Dependency-Scanning.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Code-Quality.gitlab-ci.yml

test:jsonvalidation:
  stage: test
  image: node:14.15-buster
  allow_failure: false
  tags:
  - docker
  before_script:
  - npm install -g ajv-cli ajv-formats
  - cd ./src/data
  script:
  - ajv test -s schemas/country.schema -d "countries/*.json" -c ajv-formats --valid --verbose --all-errors
  only:
    changes:
    - src/data/**/*

test:karma:
  stage: test
  image: node:14.15-buster
  allow_failure: false
  tags:
  - docker
  before_script:
  - wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
  - echo "deb http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list
  - DEBIAN_FRONTEND=noninteractive apt-get update && apt-get install google-chrome-stable -y -qq
  script:
  - yarn
  - ./node_modules/@angular/cli/bin/ng test --browsers=ChromeHeadlessCI --no-watch --no-progress
  only:
    changes:
    - src/**/*
    - ./*.json
    - yarn.lock
    - .editorconfig
    - .browserslistrc

code_quality:
  artifacts:
    paths: [gl-code-quality-report.json]

build:
  stage: build
  image: docker:latest
  tags:
  - docker
  services:
    - docker:dind
  before_script:
  - sed -ri "s|\"VERSION\"|\"$CI_COMMIT_SHA\"|" src/environments/environment.prod.ts
  - sed -ri "s|"VERSION_LINK"|"$CI_COMMIT_SHORT_SHA"|g" src/app/app.component.html
  - sed -ri "s|"VERSION"|"$CI_COMMIT_SHA"|" src/app/app.component.html
  script:
  - docker build -t $TAG_COMMIT -t $TAG_LATEST .
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_COMMIT
  - docker push $TAG_LATEST
  only:
    refs:
    - main
    changes:
    - Dockerfile
    - ./*.json
    - yarn.lock
    - .editorconfig
    - .browserslistrc
    - nginx.conf
    - src/**/*

deploy:stage:
  stage: staging
  image: alpine:latest
  tags:
  - docker
  environment:
    name: stage
    url: https://stage.mobilespectrum.org
  before_script:
  - apk add --no-cache curl  
  script:
  - echo "Deploying $CI_COMMIT_SHA to stage"
  - curl -X POST $DEPLOY_STAGE
  only:
    refs:
    - main

deploy:production:
  stage: production
  image: alpine:latest
  tags:
  - docker
  environment:
    name: production
    url: https://mobilespectrum.org
  before_script:
  - apk add --no-cache curl
  script:
  - echo "Deploying $CI_COMMIT_SHA to production"
  - curl -X POST $DEPLOY_PROD
  only:
    refs:
    - main
  when: manual
  allow_failure: false

pages:
  image: node:14.15-alpine
  before_script:
  - npm install -g @compodoc/compodoc
  script:
  - npx compodoc -p tsconfig.json -d public -n "MobileSpectrum Documentation" src
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

Comment out version link on footer
  src/app/app.component.html
Due: test:karma, build

Added band 67 Defined B67 for EE UK
  src/app/spectrum-pages/spectrum-pages.component.ts
  src/data/countries/united_kingdom.json
  src/data/countries/united_kingdom/northern_ireland.json
Due: test:jsonvalidation, test:karma, build

Build documentation to Github Pages
  .github/workflows/docs.yml
Due: none

Change push branch to main
  .github/workflows/docs.yml
Due: none

Trigger docs workflow when merge request
  .github/workflows/docs.yml
Due: none

Use node 14.15 when install compodoc
  .github/workflows/docs.yml
Due: none

Create CNAME
  CNAME
Due: none

Remove ARFCN section because it's empty and do checks on pull_requests too
  .github/workflows/main.yml
  src/data/countries/united_kingdom.json
  src/data/countries/united_kingdom/northern_ireland.json
Due: test:jsonvalidation, test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@5b1600c2e09bbf4330336641466424c402a2d131 🚀
  components/SpectrumPagesComponent.html
  interfaces/Bands.html
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@a4bbc10887f7087939ee58ca06b1d4c09f55fed7 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Make sure after prerender run ngsw-config
  package.json
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@06b02f6aa3ace9887c221303ed4c35919e35b88f 🚀
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Portugal spectrum
  src/app/home-page/home-page.component.html
  src/data/countries/portugal.json
Due: test:jsonvalidation, test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@4cb247d70fb8c79b002ba8c12c56469b1cb3053d 🚀
  components/HomePageComponent.html
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Install ajv npm package on jsonvalidation workflow
  .github/workflows/main.yml
Due: none

Fix background colors
  src/data/countries/portugal.json
Due: test:jsonvalidation, test:karma, build

Hide - on footer
  src/app/app.component.html
Due: test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@b50cf4e06cb73081792cb87d6c5cfe19a674b7cc 🚀
  components/AppComponent.html
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

fix: upgrade @angular/localize from 11.1.2 to 11.2.4
  package.json
  yarn.lock
Due: test:karma, build

fix: upgrade multiple dependencies with Snyk
  package.json
  yarn.lock
Due: test:karma, build

fix: upgrade zone.js from 0.10.3 to 0.11.4
  package.json
  yarn.lock
Due: test:karma, build

fix: upgrade @nguniversal/express-engine from 11.1.2 to 11.2.1
  package.json
  yarn.lock
Due: test:karma, build

fix: upgrade rxjs from 6.6.3 to 6.6.6
  package.json
  yarn.lock
Due: test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@18373f9f676e315bc90e885604af1180c149841b 🚀
  dependencies.html
  js/search/search_index.js
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@e209705317eaab3e9c79500fe8b31aa39a2b1dd9 🚀
  dependencies.html
  js/search/search_index.js
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@9120da0e162c676abcb7c87b19b0e49ba85546da 🚀
  dependencies.html
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@6d38418c94494a021bf1b73572aaba70ca9a4e99 🚀
  dependencies.html
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@74ec54175f40cc41d2c3d7a434aa2aa1010685bd 🚀
  dependencies.html
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

First version with dark theme
  src/styles.css
Due: test:karma, build

fix: upgrade @angular/localize from 11.1.2 to 11.2.6
  package.json
  yarn.lock
Due: test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@ed708431d6eb4a0514f35caaaa5fef31cd32ffb3 🚀
  dependencies.html
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
Due: none

Update dark theme background colors
  src/styles.css
Due: test:karma, build

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: build

Deploying to gh-pages from @ olkitu/Mobilespectrum@69654c03f1977c7264dcd0eb49a53d6b175281ce 🚀
  dependencies.html
  js/search/search_index.js
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@80822bf1d70e129a42dbfa64694b6638e212ea28 🚀
  dependencies.html
  js/search/search_index.js
Due: none

Iceland spectrums
  src/data/countries/island.json
Due: test:jsonvalidation, test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@568a4bdf7c51e02862980a93ed835c4767ee373a 🚀
  dependencies.html
  js/search/search_index.js
Due: none
