Repository olkitu/MobileSpectrum: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:jsonvalidation, test:karma, build

.gitlab-ci.yml:

stages:
- test
- build
- staging
- production

variables:
  TAG_LATEST: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:latest
  TAG_COMMIT: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_NAME:$CI_COMMIT_SHORT_SHA

include:
  - template: Dependency-Scanning.gitlab-ci.yml
  - template: Security/SAST.gitlab-ci.yml
  - template: Security/License-Scanning.gitlab-ci.yml
  - template: Security/Secret-Detection.gitlab-ci.yml
  - template: Code-Quality.gitlab-ci.yml

test:jsonvalidation:
  stage: test
  image: node:14.15-buster
  allow_failure: false
  tags:
  - docker
  before_script:
  - npm install -g ajv-cli ajv-formats
  - cd ./src/data
  script:
  - ajv test -s schemas/country.schema -d "countries/*.json" -c ajv-formats --valid --verbose --all-errors
  only:
    changes:
    - src/data/**/*

test:karma:
  stage: test
  image: node:14.15-buster
  allow_failure: false
  tags:
  - docker
  before_script:
  - wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
  - echo "deb http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list
  - DEBIAN_FRONTEND=noninteractive apt-get update && apt-get install google-chrome-stable -y -qq
  script:
  - yarn
  - ./node_modules/@angular/cli/bin/ng test --browsers=ChromeHeadlessCI --no-watch --no-progress
  only:
    changes:
    - src/**/*
    - ./*.json
    - yarn.lock
    - .editorconfig
    - .browserslistrc

code_quality:
  artifacts:
    paths: [gl-code-quality-report.json]

build:
  stage: build
  image: docker:latest
  tags:
  - docker
  services:
    - docker:dind
  before_script:
  - sed -ri "s|\"VERSION\"|\"$CI_COMMIT_SHA\"|" src/environments/environment.prod.ts
  - sed -ri "s|"VERSION_LINK"|"$CI_COMMIT_SHORT_SHA"|g" src/app/app.component.html
  - sed -ri "s|"VERSION"|"$CI_COMMIT_SHA"|" src/app/app.component.html
  script:
  - docker build -t $TAG_COMMIT -t $TAG_LATEST .
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  - docker push $TAG_COMMIT
  - docker push $TAG_LATEST
  only:
    refs:
    - main
    changes:
    - Dockerfile
    - ./*.json
    - yarn.lock
    - .editorconfig
    - .browserslistrc
    - nginx.conf
    - src/**/*

deploy:stage:
  stage: staging
  image: alpine:latest
  tags:
  - docker
  environment:
    name: stage
    url: https://stage.mobilespectrum.org
  before_script:
  - apk add --no-cache curl  
  script:
  - echo "Deploying $CI_COMMIT_SHA to stage"
  - curl -X POST $DEPLOY_STAGE
  only:
    refs:
    - main

deploy:production:
  stage: production
  image: alpine:latest
  tags:
  - docker
  environment:
    name: production
    url: https://mobilespectrum.org
  before_script:
  - apk add --no-cache curl
  script:
  - echo "Deploying $CI_COMMIT_SHA to production"
  - curl -X POST $DEPLOY_PROD
  only:
    refs:
    - main
  when: manual
  allow_failure: false

pages:
  image: node:14.15-alpine
  before_script:
  - npm install -g @compodoc/compodoc
  script:
  - npx compodoc -p tsconfig.json -d public -n "MobileSpectrum Documentation" src
  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

Disable Angular analytics
  .gitpod.yml
Due: none

Remove versions angular extension
  .gitpod.yml
Due: none

Disable Analytics
  .gitpod.yml
Due: none

Finally fixed disable Analytics
  .gitpod.yml
Due: none

Move analytics export to different section
  .gitpod.yml
Due: none

Add Dutch offshore licenses
  src/app/home-page/home-page.component.html
  src/data/countries/netherlands/offshore.json
Due: test:jsonvalidation, test:karma, build

Upgrade Angular 12
  README.md
  angular.json
  package.json
  server.ts
  src/environments/environment.ts
  src/polyfills.ts
  src/test.ts
  yarn.lock
Due: test:karma, build

Upgrade ng-bootstrap to 10 and font-awesome to 0.9.0
  package.json
  yarn.lock
Due: test:karma, build

Change node version to 14.17
  Dockerfile
  Dockerfile.dev
Due: build

Deploying to gh-pages from @ olkitu/Mobilespectrum@4225eacb35ddeb336cd7d576ea129d4794371d9e 🚀
  dependencies.html
  index.html
  js/search/search_index.js
Due: none

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Due: test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@55ab2268aeef972a223ac585aa987f2450740b66 🚀
  dependencies.html
  js/search/search_index.js
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@284bf0f386fdb2f4efddbc52a0e26cb7f969876c 🚀
  components/HomePageComponent.html
  dependencies.html
  js/search/search_index.js
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@c2ded3f06ccfb25aff0ea9386e364d18e9a4d92f 🚀
  dependencies.html
  js/search/search_index.js
Due: none

Fix DL<->UL frequencys
  src/data/countries/ukraine.json
Due: test:jsonvalidation, test:karma, build

Upgrade node packages
  package.json
  yarn.lock
Due: test:karma, build

Upgrade Angular packages
  package.json
  yarn.lock
Due: test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@b23a512fc3bfdb30dee3d702ba555e846b1cce3c 🚀
  dependencies.html
  js/search/search_index.js
Due: none

Change Finland 450 MHz license to Elisa
  src/data/countries/finland.json
Due: test:jsonvalidation, test:karma, build

Cache also JSON files
  ngsw-config.json
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@fc01c66c98c977f76f6e88adeacbd1a8f79a377b 🚀
  components/AppComponent.html
  components/FrequenciesBarComponent.html
  components/HomePageComponent.html
  components/NotFoundPageComponent.html
  components/SpectrumPagesComponent.html
  contributing.html
  coverage.html
  dependencies.html
  index.html
  injectables/CommonServiceService.html
  injectables/HttpStatusCodeService.html
  interfaces/Bands.html
  interfaces/DownLink.html
  interfaces/Frequencies.html
  interfaces/Frequency.html
  interfaces/Provider.html
  interfaces/Provider2.html
  interfaces/Source.html
  interfaces/UpLink.html
  interfaces/Valid.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
  license.html
  miscellaneous/variables.html
  modules.html
  modules/AppModule.html
  modules/AppRoutingModule.html
  modules/AppServerModule.html
  overview.html
Due: none

Added spectrum allocations for Bulgaria.
  src/app/home-page/home-page.component.html
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

Changes made to the bulgaria.json file: Frequency allocation ordered in ascending order.
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: build

Update spain json
  src/data/countries/spain.json
Due: test:jsonvalidation, test:karma, build

Remove "NB-IoT", fix capitalisation and remove expired licences
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

Add start dates to satisfy jsonvalidation
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

Remove "valid" dates where start date is unknown
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

Update bulgaria.json
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

Update romania.json
  src/data/countries/romania.json
Due: test:jsonvalidation, test:karma, build

Revert "Added spectrum allocations for Bulgaria."
  src/app/home-page/home-page.component.html
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

Change colours and add Telenor n3
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@b7b54dbfc3956a62871fc46df072d4ca5bd96b35 🚀
  components/AppComponent.html
  components/FrequenciesBarComponent.html
  components/HomePageComponent.html
  components/NotFoundPageComponent.html
  components/SpectrumPagesComponent.html
  contributing.html
  coverage.html
  dependencies.html
  index.html
  injectables/CommonServiceService.html
  injectables/HttpStatusCodeService.html
  interfaces/Bands.html
  interfaces/DownLink.html
  interfaces/Frequencies.html
  interfaces/Frequency.html
  interfaces/Provider.html
  interfaces/Provider2.html
  interfaces/Source.html
  interfaces/UpLink.html
  interfaces/Valid.html
  js/menu-wc_es5.js
  js/menu.js
  js/search/search_index.js
  license.html
  miscellaneous/variables.html
  modules.html
  modules/AppModule.html
  modules/AppRoutingModule.html
  modules/AppServerModule.html
  overview.html
Due: none

Added EARFCN and NR-ARFCN display and calculation
  docker-entrypoint.dev.sh.bak
  src/app/components/frequencies-bar.component.html
  src/app/components/frequencies-bar.component.ts
  src/data/countries/thailand.json.bak
Due: test:jsonvalidation, test:karma, build

Remove unnecessary files
  .gitignore.bak
  docker-entrypoint.dev.sh.bak
  src/data/countries/thailand.json.bak
Due: test:jsonvalidation, test:karma, build

Remove unnecessary files
  .gitignore.bak
Due: none
