Repository olkitu/MobileSpectrum: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:jsonvalidation, test:karma, build

test:jsonvalidation:
  stage: test
  image: node:14.15-buster
  allow_failure: false
  tags:
  - docker
  before_script:
  - npm install -g ajv-cli ajv-formats
  - cd ./src/data
  script:
  - ajv test -s schemas/country.schema -d "countries/*.json" -c ajv-formats --valid --verbose --all-errors

test:karma:
  stage: test
  image: node:14.15-buster
  allow_failure: false
  tags:
  - docker
  before_script:
  - wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
  - echo "deb http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list
  ...

build:
  stage: build
  image: docker:latest
  tags:
  - docker
  services:
  - docker:dind
  before_script:
  - sed -ri "s|\"VERSION\"|\"$CI_COMMIT_SHA\"|" src/environments/environment.prod.ts
  - sed -ri "s|"VERSION_LINK"|"$CI_COMMIT_SHORT_SHA"|g" src/app/app.component.html
  ...

Update JSON Schema and Format
  src/data/countries/brazil.json
  src/data/countries/estonia.json
  src/data/countries/finland.json
  src/data/countries/italy.json
  src/data/countries/russia.json
  src/data/countries/spain.json
  src/data/countries/united_kingdom.json
  src/data/schemas/country.schema.json
Due: test:jsonvalidation, test:karma, build

Update JSON in Subdirectories
  src/data/countries/finland/åland.json
  src/data/countries/russia/ekaterinburg.json
  src/data/countries/russia/kaliningrad.json
  src/data/countries/russia/moscow.json
  src/data/countries/russia/st._petersburg.json
  src/data/countries/united_kingdom/northern_ireland.json
Due: test:jsonvalidation, test:karma, build

Only generate docs when pushed to main
  .github/workflows/docs.yml
Due: none

Deploying to gh-pages from @ olkitu/Mobilespectrum@e8fe0e1e0b30f54db96680d4b77110eb565eafed 🚀
  dependencies.html
  js/search/search_index.js
Due: none

Merge changes
  src/data/countries/spain.json
Due: test:jsonvalidation, test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@7df04d3a13b7db8ec8337815f42c2793f891282f 🚀
  components/FrequenciesBarComponent.html
  components/SpectrumPagesComponent.html
  coverage.html
  images/coverage-badge-documentation.svg
  interfaces/Bands-1.html
  interfaces/Bands.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/search/search_index.js
  overview.html
Due: none

Ugprade Angular to 13
  .gitignore
  angular.json
  package.json
  src/polyfills.ts
  src/test.ts
  yarn.lock
Due: test:karma, build

Upgrade depencides
  package.json
  yarn.lock
Due: test:karma, build

Upgrade node version in docker image and workflow to v2 version
  .github/workflows/main.yml
  .gitpod.Dockerfile
  Dockerfile
  Dockerfile.dev
  package.json
  yarn.lock
Due: test:karma, build

Update Node version to Readme
  README.md
Due: none

Change on karma the ng test path
  .github/workflows/main.yml
Due: none

Do json validation also in subdirectories
  .github/workflows/main.yml
Due: none

Fix path to ng on workflow
  .github/workflows/main.yml
Due: none

Add Emoji to Country Name
  Dockerfile.dev
  Dockerfile.dev.bak
  src/app/spectrum-pages/spectrum-pages.component.html
  src/app/spectrum-pages/spectrum-pages.component.ts
  src/data/countries/thailand.json
  src/data/schemas/country.schema.json
Due: test:jsonvalidation, test:karma, build

Add Emoji to Country Name
  Dockerfile.dev.bak
Due: none

Merge
  .gitignore.bak
  Dockerfile.bak
  Dockerfile.dev
  Dockerfile.dev.bak
Due: none

Merge
  .gitignore.bak
  Dockerfile.bak
  Dockerfile.dev.bak
Due: none

Update Dockerfile
  Dockerfile
Due: build

Update Package.json
  package.json
Due: none

Fix Object
  src/app/spectrum-pages/spectrum-pages.component.ts
Due: test:karma, build

Fix Check
  src/app/spectrum-pages/spectrum-pages.component.ts
Due: test:karma, build

Fix Minh's Bug
  src/app/spectrum-pages/spectrum-pages.component.ts
Due: test:karma, build

Update Docker
  Dockerfile
  Dockerfile.dev
  src/app/spectrum-pages/spectrum-pages.component.ts
Due: test:karma, build

Country Emoji removed for PC
  src/app/spectrum-pages/spectrum-pages.component.ts
  yarn.lock
Due: test:karma, build

Spectrum Sharing Added
  src/app/components/frequencies-bar.component.html
  src/data/countries/thailand.json
Due: test:jsonvalidation, test:karma, build

Unallocated Spectrum Part 1
  src/app/components/frequencies-bar.component.html
  src/app/components/frequencies-bar.component.ts
  src/app/spectrum-pages/spectrum-pages.component.html
  src/data/countries/portugal.json
  src/data/countries/singapore.json
Due: test:jsonvalidation, test:karma, build

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: build

Deploying to gh-pages from @ olkitu/Mobilespectrum@9fc654a44eac83ff7fe6c03569a549e0d0f4b21b 🚀
  dependencies.html
  index.html
  js/search/search_index.js
Due: none

Out of Band Fix
  src/app/components/frequencies-bar.component.html
  src/app/components/frequencies-bar.component.ts
  src/app/spectrum-pages/spectrum-pages.component.html
  src/data/countries/singapore.json
Due: test:jsonvalidation, test:karma, build

Renaming Telenor to Yettel so that it's futureproof.
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

Updated Denmark Spectrum
  src/data/countries/denmark.json
Due: test:jsonvalidation, test:karma, build

Update Denmark Spectrum
  src/data/countries/denmark.json
Due: test:jsonvalidation, test:karma, build

Add files via upload
  src/data/countries/latvia.json
Due: test:jsonvalidation, test:karma, build

Delete latvia.json
  src/data/countries/latvia.json
Due: test:jsonvalidation, test:karma, build

Path conditions:
  test:jsonvalidation: any of: src/data/**/*
  test:karma: any of: src/**/*, ./*.json, yarn.lock, .editorconfig, .browserslistrc
  build: any of: Dockerfile, ./*.json, yarn.lock, .editorconfig, .browserslistrc, nginx.conf, src/**/*
