Repository olkitu/MobileSpectrum: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:jsonvalidation, test:karma, build

test:jsonvalidation:
  stage: test
  image: node:14.15-buster
  allow_failure: false
  tags:
  - docker
  before_script:
  - npm install -g ajv-cli ajv-formats
  - cd ./src/data
  script:
  - ajv test -s schemas/country.schema -d "countries/*.json" -c ajv-formats --valid --verbose --all-errors

test:karma:
  stage: test
  image: node:14.15-buster
  allow_failure: false
  tags:
  - docker
  before_script:
  - wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | apt-key add -
  - echo "deb http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list
  ...

build:
  stage: build
  image: docker:latest
  tags:
  - docker
  services:
  - docker:dind
  before_script:
  - sed -ri "s|\"VERSION\"|\"$CI_COMMIT_SHA\"|" src/environments/environment.prod.ts
  - sed -ri "s|"VERSION_LINK"|"$CI_COMMIT_SHORT_SHA"|g" src/app/app.component.html
  ...

Add Latvian spectrum allocations
  src/data/countries/latvia.json
Due: test:jsonvalidation, test:karma, build

Add Latvian spectrum
  src/app/home-page/home-page.component.html
Due: test:karma, build

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Due: build

Update denmark.json
  src/data/countries/denmark.json
Due: test:jsonvalidation, test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@2f690043a415bed4ab3f4cbe8b392b605d93e17e 🚀
  components/AppComponent.html
  components/FrequenciesBarComponent.html
  components/HomePageComponent.html
  components/NotFoundPageComponent.html
  components/SpectrumPagesComponent.html
  contributing.html
  coverage.html
  dependencies.html
  index.html
  injectables/CommonServiceService.html
  injectables/HttpStatusCodeService.html
  interfaces/Bands-1.html
  interfaces/Bands.html
  interfaces/DownLink.html
  interfaces/Frequencies.html
  interfaces/Frequency.html
  interfaces/Provider.html
  interfaces/Provider2.html
  interfaces/Source.html
  interfaces/UpLink.html
  interfaces/Valid.html
  js/menu-wc.js
  js/menu-wc_es5.js
  js/menu.js
  js/search/search_index.js
  license.html
  miscellaneous/variables.html
  modules/AppModule.html
  modules/AppRoutingModule.html
  modules/AppServerModule.html
  overview.html
  properties.html
  styles/compodoc.css
Due: none

Updated romania.json (take 2)
  src/data/countries/romania.json
Due: test:jsonvalidation, test:karma, build

Add data for Bulgaria
  src/app/home-page/home-page.component.html
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

JSON fixed
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

Deploying to gh-pages from @ olkitu/Mobilespectrum@ef72d3f25d197700c14e9d7f70f7247d708e3f84 🚀
  components/HomePageComponent.html
  graph/dependencies.svg
  js/menu-wc_es5.js
  js/search/search_index.js
  modules/AppModule.html
  modules/AppModule/dependencies.svg
  modules/AppServerModule.html
  modules/AppServerModule/dependencies.svg
  overview.html
Due: none

Update portugal.json
  src/data/countries/portugal.json
Due: test:jsonvalidation, test:karma, build

Update Vivacom Band 3 allocation
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

More Band 78 spectum allocations added
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

Update Telekom B28 usage LTE->NR
  src/data/countries/germany.json
Due: test:jsonvalidation, test:karma, build

Change Yettel BG Band 3 allocation.
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

A1 Band 3 20 MHz added
  src/data/countries/bulgaria.json
Due: test:jsonvalidation, test:karma, build

Path conditions:
  test:jsonvalidation: any of: src/data/**/*
  test:karma: any of: src/**/*, ./*.json, yarn.lock, .editorconfig, .browserslistrc
  build: any of: Dockerfile, ./*.json, yarn.lock, .editorconfig, .browserslistrc, nginx.conf, src/**/*
